.vssue
  color: $textColor
  :not(.vssue-comment-content) a
    color: $accentColor
  .vssue-button:not(:disabled).vssue-button-primary
    color: $accentColor
    border-color: $accentColor
  .vssue-header,.vssue-new-comment
    border-bottom: 1px solid $borderColor
$vssue-breakpoint-mobile ?= $MQMobile

[data-theme = dark ] &
  .vssue
    color: $dark[--textColor]
    :not(.vssue-comment-content) a
      color: $dark[--accentColor]
    .vssue-button:not(:disabled).vssue-button-primary
      color: $dark[--accentColor]
      border-color: $dark[--accentColor]
    .vssue-header,.vssue-new-comment
      border-bottom: 1px solid $dark[--borderColor]
